body{
    background-color: rgb(177, 133, 218);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
       
}

img {
    border-radius: 9px;
    display: block;
    width: 500px;
    margin-right: 40px;
}

.big {
    width: 70px;
    height: 50px;
    padding: 5px;
    background-color: palevioletred;    
    display: flex;  
    align-items: center;  
    color: blue;
    border: none;
}

.time {
    display: flex;
    column-gap: 15px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 6px;
    color: rgb(198, 22, 22);
    font-size: 30px;
    
}

h4 {
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

p {
    letter-spacing: 2px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(7, 7, 7);
}



@media (max-width: 768px){
    body {
    background-color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    img {
        width: 100%;
    }
   
    .container{
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    .big {
        height: 30px;
        width: 50px;
        font-size: 13px;
    }

    .time {
        display: flex;
        column-gap: 5px;
    }

}